<div #terminalPanel class="terminalPanel" [class.terminalPanelRoot]="currentDirectory === '/'">
  <span class="pulse float-right"></span>

  <div class="terminalLog">
    <div *ngFor="let line of logLines" class="logLine">
        <p>{{line.input}}</p>
        <div *ngFor="let output of line.output" class="logOutput">
          <p>{{output}}</p>
        </div>
    </div>
  </div>
  <div *ngIf="!interactiveMode" #terminalEntry class="terminalLog terminalEntry" [class.terminalEntryRoot]="currentDirectory === '/'">
      <p>[user@{{userIpAddr}}]$
        <input #terminalInputRef [(ngModel)]="terminalInput"
               (keyup.enter)="interpretInput(terminalInputRef.value, true)" (keyup.arrowup)="fetchLastCommand()" type="text" name="terminalForm" autofocus>
      </p>
  </div>
  <div *ngIf="interactiveMode" #terminalEntryInteractive class="terminalLog terminalEntry" [class.terminalEntryRoot]="currentDirectory === '/'">
    <p>{{interactivePrompt}}
      <input #terminalInputRef [(ngModel)]="terminalInput" (keyup.enter)="interpretPromptInput(terminalInputRef.value)" (keyup.control.c)="setInteractiveMode(false)" type="text" name="terminalForm" autofocus>
    </p>
  </div>
  <div *ngIf="editMode" #terminalEdit class="terminalLog terminalEntry" [class.terminalEntryRoot]="currentDirectory === '/'">
    <p *ngIf="!isNavbarMobile">Ctrl + Shift + Z to exit EDIT mode</p>
    <div *ngIf="isNavbarMobile" class="mobile-exit">
      <p>Press [[SAVE]] to exit EDIT mode</p>
      <button (click)="setEditMode(false)">[[SAVE]]</button>
    </div>
    <textarea #editInputRef [(ngModel)]="editWindowText" (keyup.control.shift.z)="setEditMode(false)"  autosize></textarea>
  </div>
</div>
