@import '../../styles.scss';
@import '../../animations.scss';



::-webkit-scrollbar {
  width: 0;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
  display: none;
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.terminalPanel {
  position: relative;
  height: 148px;
  padding: 2px;
  background-color: darkslategrey;
  overflow-y: scroll;
}

.terminalPanelRoot {
  background-color: rgba(47, 79, 79, .5);
}

.terminalLog {
  p {
      margin: 0;
      font-family: monospace;
      font-size: 11px;
      color: $nav-terminal-accent-color;
  }
}


.terminalEntry {
  textarea {
    border: 0;
    padding: 0;
    margin-left: 0;
    background-color: darkslategray;
    font-family: monospace;
    resize: none;
    font-size: 11px;
    color: $nav-terminal-accent-color;
    outline: none;
    min-height: 108px;
    min-width: 100%;
    cursor: default;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  input {
      border: 0;
      padding: 0;
      margin-left: 0;
      background-color: darkslategray;
      font-family: monospace;
      font-size: 11px;
      color: $nav-terminal-accent-color;
  }
  input:focus, input:focus{
      outline: none;
  }
}

.terminalEntryRoot {
  textarea {
    background-color: rgba(47, 79, 79, .5);
  }
  input {
    background-color: rgba(47, 79, 79, .5);
  }
}

.version {
  position: relative;
  display: inline-block;
  right: 5px;
  bottom: 0;

  font-family: monospace;
  font-size: 8px;
  color: gray;

}

.pulse-frame {
  position: static;
  width: 40px;
  height: 40px;
  right: 0px;
  margin-top: -10px;
  margin-right: -10px;
  border-radius: 25% !important;
  background: #343a40 !important;
  cursor: pointer;
  //box-shadow: 0 0 0 rgba(131, 110, 255, 0.4);
}

.pulse {
  position: static;
  display: inline-block;
  margin: 7px 7px 7px 14px;
  width: 10px;
  height: 10px;
  right: 0px;
  border-radius: 50% !important;
  background: #9cffa8;
  cursor: pointer;
  //box-shadow: 0 0 0 rgba(131, 110, 255, 0.4);
  animation: pulse 2s infinite;
}

@media only screen and (max-width: 990px) {

  button {
    background-color: slategray;
    color: darkslategray;
    border: none;
    margin-bottom: 10px;
  }

  .terminalPanel {
    font-size: 14px;
  }

  .terminalLog {
    p {
      font-size: 14px;
    }
  }

  .terminalEntry {
    input {
      font-size: 14px;
    }

    textarea {
      font-size: 14px;
    }
  }



}
