<!--<div [innerHTML]="aboutTextHtml"></div>-->

<h2 (click)="terminalService.sendRemoteCommand('pwd', true, true)">/portfolio</h2>

<!--
<img src="assets/img/about0.jpg"/>
<img src="assets/img/about1.jpg"/>
<img src="assets/img/about2.jpg"/>
<img src="assets/img/about3.jpg"/>
-->

<div class="card-deck">
  <div class="card bg-light">
    <img class="card-img-top" src="assets/img/ktg-site.png" alt="ktg fun logo">
    <div class="card-vanity-bar"></div>
    <div class="card-body">
      <h4 class="card-title">Kevin Gilbert Scholarship Fund</h4>
      <p class="card-text">A website for the KTG Scholarship Fund. Built in Angular6+/Node.js. Allows users to register and pay admission fees electronically.</p>
      <a href="https://www.ktgscholarshipfund.com/about" class="card-link">Website</a>
      <a href="https://github.com/deadlymustard/kgscholarshipfund" class="card-link">Github <i class="fa fa-github" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="card bg-light">
    <img class="card-img-top" src="assets/img/portfolio-site.png" alt="portfolio site screenshot">
    <div class="card-vanity-bar"></div>
    <div class="card-body">
      <h4 class="card-title">Portfolio Site (this one!)</h4>
      <p class="card-text">
        Believe it or not this website took some work.
        There's some fun easter eggs hidden throughout.
        Think with your stomach and you'll get to the root of the problem. Peeking at Github is cheating!
      </p>
      <a href="https://www.reganshaner.com" class="card-link">Website</a>
      <a href="https://github.com/deadlymustard/portfolio-site" class="card-link">Github <i class="fa fa-github" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="card bg-light">
    <img class="card-img-top" src="assets/img/lightbox.png" alt="portfolio site screenshot">
    <div class="card-vanity-bar"></div>
    <div class="card-body">
      <h4 class="card-title">Stranger Things Lightbox</h4>
      <p class="card-text">
        My initial foray into Arduino made as a gift. A light box relying on customizable LED strings.
        Input messages with your phone via a bluetooth terminal and it'll spell it out. Coded in C, held together with duct-tape and hope.
      </p>
      <a href="https://www.youtube.com" class="card-link">Video <i class="fa fa-youtube" aria-hidden="true"></i></a>
      <a href="https://github.com/deadlymustard/portfolio-site" class="card-link">Github <i class="fa fa-github" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
