<div class="secret">
  <p>Hey, how'd you get here?</p><br />

  <p>There will be some interesting things here eventually...</p>
  <p>Not the greatest payout for solving a puzzle is it?</p><br />

  <p>...</p><br />

  <p>Alright, fine. Here's a sneak peak at my latest endeavor...</p>

  <div class="card" style="width: 18rem;">
    <i class="fa fa-file-text-o card-img-top" aria-hidden="true"></i>
    <div class="card-body">
      <h5 class="card-title">Design Document</h5>
      <a href="{{dropBoxDownloadLink}}" class="btn" download>Download</a>
      <a href="{{dropBoxLink}}" class="btn" target="_blank">View</a>
    </div>
  </div>
</div>

<particles [style]="myStyle" [width]="100" [height]="100" [params]="myParams"></particles>
