<!--<div [innerHTML]="aboutTextHtml"></div>-->

<h2>/resume</h2>

<!--
<img src="assets/img/about0.jpg"/>
<img src="assets/img/about1.jpg"/>
<img src="assets/img/about2.jpg"/>
<img src="assets/img/about3.jpg"/>
-->

<div class="resume-header">
  <p>Regan D. Shaner</p>
  <p>New York, NY</p>
</div>

<div class="resume-education">
  <h4>Education</h4>
  <hr />
  <div class="resume-entry">
    <h5>Rutgers University<span class="resume-side-text float-right">Aug. 2013 - May 2016</span></h5>
    <h6>Computer Science, B.S.<span class="resume-side-text float-right">New Brunswick, NJ</span></h6>
    <ul></ul>
  </div>
  <div class="resume-entry">
    <h5>Jamestown Community College<span class="resume-side-text float-right">Aug. 2011 - May 2013</span></h5>
    <h6>Computer Science, A.S.<span class="resume-side-text float-right">Olean, NY</span></h6>
    <ul></ul>
  </div>

</div>

<div class="resume-work">
  <h4>Work Experience</h4>
  <hr />
  <div class="resume-entry">
    <h5>Bamtech Media<span class="resume-side-text float-right">April 2017 - Present</span></h5>
    <h6>Associate Software Engineer<span class="resume-side-text float-right">New York, NY</span></h6>
    <ul>
      <li>Develop content delivery applications to suit web, mobile, and connected-device application needs</li>
      <li>Design and implement AWS architecture and deployment strategies for emerging applications</li>
      <li>Support and develop new features for Homebase, a CMS system used by hundreds daily (developed in Java and rendered in a proprietary Javascript framework)</li>
      <li>Developed Zodiac, an event-driven Spring Boot application that asynchronously ingests and transforms legacy partner XML data files into a newer content pipeline</li>
      <li>Developed and led design of Skybox, a user-facing administrative application designed to report system status that tracks transactions through various content pipeline applications (developed in Node.js/Angular 5+)</li>
      <li>Developed and participated in design of Polaris, a newly built user-facing CMS system designed to manage media metadata within the content delivery pipeline (developed in Angular 6+/Node.js/Microservices backend)</li>
    </ul>
  </div>
  <div class="resume-entry">
    <h5>ACI Worldwide<span class="resume-side-text float-right">June 2016 - April 2017</span></h5>
    <h6>Associate Software Engineer<span class="resume-side-text float-right">East Brunswick, NJ</span></h6>
    <ul>
      <li>Supported and developed new features for ReD Shield, a transactional risk analytics engine designed to determine whether or not a credit card transaction is fraudulent (written primarily in C/Pro*C)</li>
      <li>Developed Spring Boot REST microservice to arbitrarily convert currencies based on the latest reported exchange rates and integrated this service with ReD Shield</li>
      <li>Migrated manually-deployed legacy systems to automated Jenkins pipeline</li>
      <li>Developed Zodiac, an event-driven Spring Boot application that asynchronously ingests and transforms legacy partner XML data files into a newer content pipeline</li>
      <li>Wrote shell scripts to automate build/deployment processes for software modules</li>
    </ul>
  </div>
</div>

<div class="resume-projects">
  <h4>Projects</h4>
  <hr />
  <div class="resume-entry">
    <h5>Kevin Gilbert Scholarship Fund<span class="resume-side-text float-right">April 2017 - Present</span></h5>
    <h6>Web App</h6>
    <ul>
      <li>Web application developed in Node.js/Angular 5+</li>
      <li>Form-driven team registration page that allows users to build teams and pay admission fees electronically</li>
      <li>Firebase backend database used to store and retrieve registered teams</li>
    </ul>
  </div>
</div>

<div class="resume-skills">
  <h4>Skills</h4>
  <hr />
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="resume-entry">
        <h5>Languages</h5>
        <span class="badge badge-pill badge-dark">Java</span>
        <span class="badge badge-pill badge-dark">Javascript</span>
        <span class="badge badge-pill badge-dark">Typescript</span>
        <span class="badge badge-pill badge-dark">Scala</span>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="resume-entry">
        <h5>Frameworks</h5>
        <span class="badge badge-pill badge-dark">Spring Boot</span>
        <span class="badge badge-pill badge-dark">Node.js/Express</span>
        <span class="badge badge-pill badge-dark">Angular</span>
        <span class="badge badge-pill badge-dark">Akka</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="resume-entry">
        <h5>Database</h5>
        <span class="badge badge-pill badge-dark">Oracle</span>
        <span class="badge badge-pill badge-dark">Postgres</span>
        <span class="badge badge-pill badge-dark">MongoDB</span>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="resume-entry">
        <h5>Web/Markup</h5>
        <span class="badge badge-pill badge-dark">HTML</span>
        <span class="badge badge-pill badge-dark">CSS</span>
        <span class="badge badge-pill badge-dark">SASS</span>
        <span class="badge badge-pill badge-dark">Bootstrap</span>
        <span class="badge badge-pill badge-dark">XSLT</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="resume-entry">
        <h5>Cloud</h5>
        <span class="badge badge-pill badge-dark">AWS</span>
        <span class="badge badge-pill badge-dark">Firebase</span>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="resume-entry">
        <h5>Continuos Integration/Deployment</h5>
        <span class="badge badge-pill badge-dark">Docker</span>
        <span class="badge badge-pill badge-dark">Jenkins</span>
        <span class="badge badge-pill badge-dark">Rundeck</span>
        <span class="badge badge-pill badge-dark">Puppet</span>
      </div>
    </div>
  </div>
</div>

