@import '../../styles.scss';
@import '../app.component.scss';

.resume-wrapper {
  margin-bottom: 40px;
}

h2 {
  a {
    i {
      color: #4c8080;
      font-size: 16px;
      margin-left: -5px;
    }
  }
}


:host ::ng-deep h4 {
  font-size: 16px;
}

:host ::ng-deep h5 {
  font-size: 14px;
  margin-bottom: 0;
}

:host ::ng-deep h6 {
  font-size: 12px;
}

:host ::ng-deep h5, h6 {
  position: relative;
}

:host ::ng-deep hr {
  margin: 5px 0 10px 0;
}

:host ::ng-deep p {
  margin-bottom: 0;
  font-size: 12px;
}

:host ::ng-deep li {
  font-size: 12px;
}

:host ::ng-deep .resume-header {
  text-align: center;
  margin-bottom: 10px;
}

:host ::ng-deep .progress {
  margin: 7px 0 7px 0;
}

:host ::ng-deep .badge{
  border-radius: 0;
  margin-right: 5px;
}

:host ::ng-deep .resume-entry {
  margin-bottom: 10px;
}

@media only screen and (max-width: 450px) {
  :host ::ng-deep .resume-side-text{
    display: none;
  }
}

